.page {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000000;
	line-height: 1.5rem;
	background-color: rgb(246, 246, 226);
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

.header {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	max-width: 80vw;
	align-items: flex-start;
}


.title {
	font-size: 3rem;
	font-weight: 700;
}

.main {
	max-width: 80vw;
	color: #345bd8;
	margin: 0 auto;
	cursor: pointer;
	transition: all .5s ease;
}

@media (hover: hover) {
	/* when hover is supported */
	.main:hover {
		color: #000000;
	}

	.main:hover .wrapper__icon {
		opacity: 1;
	}

	.wrapper__label:hover + .wrapper__img .image {
		width: 25vw;
		height: 25vw;
	}
	
	.wrapper:hover > .wrapper__label .wrapper__icon, .wrapper__label:hover .wrapper__icon {
		transform: rotate(45deg);
	}
	
	.wrapper:hover > .wrapper__img .image {
		width: 25vw;
		height: 25vw;
	}
	
 }

 @media (hover: none) {
	/* when hover is not supported */
	.main .wrapper__icon {
		opacity: 1;
	}

	.main {
		color: #000000;
	}
 }

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: rgb(164, 164, 164) solid 3px;
	margin: 0 auto 1rem;
}

.wrapper__input {
	width: 0;
	height: 0;
	-webkit-appearance: none;
	appearance: none;
}

.wrapper__input:checked ~ .wrapper__label .wrapper__icon {
	background-image: url('../assets/plus.svg');
	transform: rotate(45deg);
}

.wrapper__input:checked ~ .wrapper__label .wrapper__title {
	color: #000000;
}

.wrapper__input:checked ~ .wrapper__img .image {
	width: 25vw;
	height: 25vw;
}

.wrapper:active .wrapper__title {
	color: #345bd8;
}

.wrapper:active .wrapper__label .wrapper__icon {
	background-image: url('../assets/plus2.svg');
}

.wrapper:active .wrapper__input:checked ~ .wrapper__label .wrapper__icon {
	background-image: url('../assets/plus.svg');
}

.wrapper:active {
	filter: opacity(.7);
}

.wrapper__label {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.wrapper__title {
	font-size: 2rem;
}

.wrapper__icon {
	background-image: url('../assets/plus.svg');
	background-repeat: no-repeat;
	background-position: cover;
	display: block;
	width: 3rem;
	height: 3rem;
	opacity: 0;
	transition: all .5s ease;
}

.wrapper__img {
	display: flex;
	flex-direction: row;
	width: 100%;
	transition: all .5s ease;
	cursor: pointer;
}


.image {
	width: 0;
	height: 0;
	margin: 0 auto;
	transition: all .5s ease;
}